<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">   
    </head>
    <body>
        <div class="bg-dark text-white p-2">
            <spam class="navbar-brand ml-2">SPORT STORE</spam>
        </div>
        {{{ body }}}
    </body>
</html>